<% include partials/yelphead %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Camp</a>
        </div>
    </header>
    
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 mb-3">
                <a href="/campgrounds/<%= campground._id %>">
                    <div class="img-thumbnail p-0 pb-1">
                        <img src="<%= campground.image %>" class="rounded img-fluid">
                        </a>
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <div>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/yelpfoot %> 